<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
        	Anime details
        </title>
        
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    
    <body>
    	<a th:href="@{/home}">
			Back to home page
		</a>
		
		<br>
		
    	<img align="left" th:src="${anime.images.jpg.large_image_url}">
    	
    	<div class="row row-no-gutters">
    		<div>
				<a th:if="${userAnimeDetail.watching == false}" th:href="@{/anime/watching/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Watching</a>
				<a th:if="${userAnimeDetail.watching == true}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Watching</a>
			
				<a th:if="${userAnimeDetail.planning == false}" th:href="@{/anime/planning/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Planning</a>
				<a th:if="${userAnimeDetail.planning == true}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Planning</a>
				
				<a th:if="${userAnimeDetail.completed == false}" th:href="@{/anime/completed/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Completed</a>
				<a th:if="${userAnimeDetail.completed == true}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Completed</a>
			
				<a th:if="${userAnimeDetail.onHold == false}" th:href="@{/anime/on-hold/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">On-hold</a>
				<a th:if="${userAnimeDetail.onHold == true}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">On-hold</a>
			
				<a th:if="${userAnimeDetail.dropped == false}" th:href="@{/anime/dropped/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Dropped</a>
				<a th:if="${userAnimeDetail.dropped == true}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Dropped</a>
				
				<a th:if="${userAnimeDetail.id != 0}" th:href="@{/anime/reset/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reset</a>
			</div>
			
			<br><br><br>
			
			<div th:if="${userAnimeDetail.id != 0 && userAnimeDetail.planning != true}" class="alert alert-success col-xs-6">
				Rate:
				<a th:if="${userAnimeDetail.score == 1}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">1</a>
				<a th:if="${userAnimeDetail.score != 1}" th:href="@{/anime/score/1/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">1</a>
				<a th:if="${userAnimeDetail.score == 2}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">2</a>
				<a th:if="${userAnimeDetail.score != 2}" th:href="@{/anime/score/2/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">2</a>
				<a th:if="${userAnimeDetail.score == 3}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">3</a>
				<a th:if="${userAnimeDetail.score != 3}" th:href="@{/anime/score/3/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">3</a>
				<a th:if="${userAnimeDetail.score == 4}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">4</a>
				<a th:if="${userAnimeDetail.score != 4}" th:href="@{/anime/score/4/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">4</a>
				<a th:if="${userAnimeDetail.score == 5}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">5</a>
				<a th:if="${userAnimeDetail.score != 5}" th:href="@{/anime/score/5/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">5</a>
				<a th:if="${userAnimeDetail.score == 6}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">6</a>
				<a th:if="${userAnimeDetail.score != 6}" th:href="@{/anime/score/6/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">6</a>
				<a th:if="${userAnimeDetail.score == 7}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">7</a>
				<a th:if="${userAnimeDetail.score != 7}" th:href="@{/anime/score/7/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">7</a>
				<a th:if="${userAnimeDetail.score == 8}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">8</a>
				<a th:if="${userAnimeDetail.score != 8}" th:href="@{/anime/score/8/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">8</a>
				<a th:if="${userAnimeDetail.score == 9}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">9</a>
				<a th:if="${userAnimeDetail.score != 9}" th:href="@{/anime/score/9/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">9</a>
				<a th:if="${userAnimeDetail.score == 10}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">10</a>
				<a th:if="${userAnimeDetail.score != 10}" th:href="@{/anime/score/10/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">10</a>
				
				<a th:if="${userAnimeDetail.score != 0}" th:href="@{/anime/score/reset/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reset</a>
			</div>
			
			<div th:if="${userAnimeDetail.watching == true || userAnimeDetail.completed == true}">
				<a th:if="${userAnimeDetail.favourite == true}" th:href="@{/anime/favourite/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">★</a>
				<a th:if="${userAnimeDetail.favourite == false}" th:href="@{/anime/favourite/{animeId}(animeId = ${anime.mal_id})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">★</a>
			</div>
		</div>
    	
		<table class="table table-primary">
			<tbody>
				<tr th:if="${anime.title}">
					<td>Title:</td>
			        <td><p th:text="${anime.title}"/></td>
				</tr>
				<tr th:if="${anime.year}">
		        	<td>Year:</td>
					<td><p th:text="${anime.year}"/></td>
		        </tr>
				<tr th:if="${anime.episodes}">
		        	<td>Episodes:</td>
					<td><p th:text="${anime.episodes}"/></td>
		        </tr>
				<tr th:if="${anime.rank}">
		        	<td>Rank:</td>
					<td><p th:text="${anime.rank}"/></td>
		        </tr>
				<tr th:if="${anime.score}">
		        	<td>Score:</td>
					<td><p th:text="${anime.score}"/></td>
		        </tr>
				<tr th:if="${anime.type}">
		        	<td>Type:</td>
					<td><p th:text="${anime.type}"/></td>
		        </tr>
				<tr th:if="${anime.status}">
		        	<td>Status:</td>
					<td><p th:text="${anime.status}"/></td>
		        </tr>
				<tr th:if="${anime.rating}">
		        	<td>Rating:</td>
					<td><p th:text="${anime.rating}"/></td>
		        </tr>
				<tr th:if="${anime.synopsis}">
		        	<td>Synopsis:</td>
					<td><p th:text="${anime.synopsis}"/></td>
		        </tr>
				<tr th:if="${anime.background}">
		        	<td>Background:</td>
					<td><p th:text="${anime.background}"/></td>
		        </tr>
		        <tr th:if="${anime.trailer.embed_url}">
		        	<td>Trailer:</td>
					<td><iframe width="960" height="540" th:src="${anime.trailer.embed_url}"></iframe></td>
		        </tr>
		    </tbody>
		</table>
		
		<table class="table table-striped" th:if="${!reviews.empty}">
		    <thead>
		        <tr align="center">
		            <th class="col-1 text-truncate">Username</th>
		            <th class="col-4 text-truncate">Review</th>
		            <th class="col-1 text-truncate" />
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="review: ${reviews}">
				    <td th:text="${review.user.username}" align="center"/>
				    <td th:text="${review.content}" align="center"/>
				    <td align="center">
				    	<a th:href="@{/reviews/remove/{reviewId}(reviewId = ${review.id})}"
				    	   th:if="${#authentication.principal.username} == ${review.user.username}">
					        <span th:text="DELETE"></span>
					    </a>
				    </td>
				    
		        </tr>
		    </tbody>
		</table>
		
		<form th:action="@{/reviews/add}" 
              	th:object="${reviewForm}" method="POST" class="form-control-plaintext">
            <input type="hidden" th:field="*{animeId}" id="animeId">
            
	        <label>
	        	Add review:
	        </label>
	        
	        <div style="margin-bottom: 25px" class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-user"></i>
				</span>
				<input type="text" th:field="*{content}" placeholder="content" 
					class="form-control" th:errorclass="fieldError" />
			</div>
			
			<div th:if="${#fields.hasErrors('content')}"
				style="margin-bottom: 25px" class="text-danger">
				<ul>
					<li th:each="err : ${#fields.errors('content')}"
						th:text="${err}" />
				</ul>
			</div>
			
			<div style="margin-top: 10px" class="form-group">
				<div class="col-sm-6 controls">
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</div>
			</div>
	    </form>
    </body>
</html>
