<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
        	Anime search
        </title>
        
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
    	<a th:href="@{/home}">
			Back to home page
		</a>
		
		<table class="table table-secondary">
		    <thead>
		        <tr align="center">
		            <th>Image</th>
		            <th class="col-5 text-truncate">Title</th>
		            <th class="col-2 text-truncate">Year</th>
		            <th class="col-2 text-truncate">Episodes</th>
		            <th class="col-2 text-truncate">Score</th>
		            <th class="col-2 text-truncate">More info</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="anime: ${animeList}">
				    <td><img th:src="${anime.images.jpg.image_url}"></td>
				    <td style=font-size:22px align="center"><p th:if="${anime.title}"		th:text="${anime.title}"/></td>
				    <td style=font-size:30px align="center"><p th:if="${anime.year}"		th:text="${anime.year}"/></td>
				    <td style=font-size:30px align="center"><p th:if="${anime.episodes}"	th:text="${anime.episodes}"/></td>
				    <td style=font-size:30px align="center"><p th:if="${anime.score}"		th:text="${anime.score}"/></p></td>
				    <td align="center"><a th:href="@{/anime/find/{id}(id=${anime.mal_id})}">Details</a></td>
		        </tr>
		    </tbody>
		</table>
		
		<div th:if="${pagination}">
			<p th:text="'Current page: ' + ${pagination.current_page}"></p>
			<p th:text="'Total pages: ' + ${pagination.last_visible_page}"></p>
		</div>
		
		<div th:if="${pagination.current_page > 1}" class="inline">
			<form method="post" th:action="@{/anime/__${pagination.current_page - 1}__}" th:object="${searchAnime}">
				<input type="hidden" th:field="*{title}" id="title">
				<input type="hidden" th:field="*{genres}" id="title">
			    <button type="submit" name="submit" value="value" class="link-button">
			    	<-
			    </button>
			</form> 
		</div>
		
		<div th:if="${pagination.has_next_page == true}" class="inline">
			<form method="post" th:action="@{/anime/__${pagination.current_page + 1}__}" th:object="${searchAnime}">
				<input type="hidden" th:field="*{title}" id="title">
				<input type="hidden" th:field="*{genres}" id="title">
			    <button type="submit" name="submit" value="value" class="link-button">
			    	->
			    </button>
			</form> 
		</div>
    </body>
</html>
