<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
        	ANIME TEST
        </title>
        
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
    
		<table class="table table-secondary">
		    <thead>
		        <tr>
		            <th>ID</th>
		            <th>TITLE</th>
		            <th>RATING</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="anime: ${animeList}">
				    <td th:text="${anime.mal_id}" />
				    <td th:text="${anime.title}" />
				    <td th:text="${anime.rating}" />
		        </tr>
		    </tbody>
		</table>
		
		<a th:href="@{/home}">
			Back to home page
		</a>
		
		<div th:if="${pagination}" >
			<p th:text="'Current page: ' + ${pagination.current_page}"></p>
			<p th:text="'Total pages: ' + ${pagination.last_visible_page}"></p>
		</div>
		
		<div th:if="${pagination.current_page > 1}" class="inline">
			<form method="post" th:action="@{/anime/find-by-name/__${pagination.current_page - 1}__}" th:object="${animeForm}">
				<input type="hidden" th:field="*{title}" id="title">
			    <button type="submit" name="submit" value="value" class="link-button">
			    	<-
			    </button>
			</form> 
		</div>
		
		<div th:if="${pagination.has_next_page == true}" class="inline">
			<form method="post" th:action="@{/anime/find-by-name/__${pagination.current_page + 1}__}" th:object="${animeForm}">
				<input type="hidden" th:field="*{title}" id="title">
			    <button type="submit" name="submit" value="value" class="link-button">
			    	->
			    </button>
			</form> 
		</div>
    </body>
</html>