<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
        	Anime by category
        </title>

		<style>
			.pagination {
				display: inline-block;
			}
			
			.pagination a {
				color: black;
				float: left;
				padding: 5px 5px;
				text-decoration: none;
			}
			
			.pagination a.active {
				background-color: gray;
				color: white;
				border-radius: 2px;
			}
		</style>
		
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
    	<a th:href="@{/home}">
			Back to home page
		</a>
		
		<table class="table table-secondary">
		    <thead>
		        <tr align="center">
		            <th class="col-1 text-truncate">Image</th>
		            <th class="col-8 text-truncate">Name</th>
		            <th class="col-1 text-truncate">Your score</th>
		            <th class="col-1 text-truncate">Favourite</th>
		            <th class="col-1 text-truncate">More info</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="anime: ${page.content}">
		        	<td align="center"><img th:src="${anime.animeDetail.image}"></td>
				    <td style=font-size:28px align="center"><p th:if="${anime.animeDetail.title}" th:text="${anime.animeDetail.title}"/></td>
				    <td style=font-size:28px align="center"><p th:if="${anime.score}" th:text="${anime.score}"/></td>
				    <td style=font-size:28px align="center"><p th:if="${anime.favourite}" th:text="${anime.favourite}"/></td>
				    <td align="center"><a th:href="@{/anime/{id}(id=${anime.animeDetail.malId})}">Details</a></td>
		        </tr>
		    </tbody>
		</table>
		
		<div class="pagination">
			<div th:if="${page.totalPages > 0}" 
			    th:each="pageNumber : ${pageNumbers}">
			    <a th:href="@{/list(status=__${tab}__, size=${page.size}, page=${pageNumber})}" 
			    th:text=${pageNumber} 
			    th:class="${pageNumber==page.number + 1} ? active"></a>
			</div>
		</div>
    </body>
</html>
